/*General*/

*{
    margin: 0;
    padding: 0;
}

header{
    background-color: #41644A;
    padding-top: 5px;
    padding-bottom: 5px;
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

div{
    display: flex;
}

.OP{
    justify-content: space-between;
}

.Banner{
    padding-left: 15px;
    height: 60px;
    justify-content: start;
    align-content: start;
    background-repeat: no-repeat;
    background-size: auto;
}

.Banner > div{
    padding: 2px;
    justify-content: start;
}

.SombraBanner{
    filter: drop-shadow(2px 5px 5px rgba(0, 0, 0, 0.7)); 
}

.Barra{
    justify-content: center;
    align-items: center;
}

.Barra > div{
    margin-left: 20px;
    align-content: center;
    align-items: center;
    height: 40px;
    color: #d8d8d8;
    border-radius: 5px;
}

.Barra > div:hover{
    filter: drop-shadow(0 0px 3px rgba(0, 0, 0, 0.947));
}

.content{
    justify-content: space-between;
    background-color: white;
}

.bordeI{
    background-color: #E86A33;
    height: auto;
    width: 190px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.bordeD{
    background-color: #E86A33;
    height: auto;
    width: 190px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.contenido{
    flex-direction: column;
}

.contenido p{
    padding: 15px;
    line-height: 30px;
    text-align: justify;
}

.contenido div{
    width: 800px;
}

footer {
    background-color: #41644A;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer div{
    display: flex;
    width: 40px;
    height: 40px;
}

.Redes {
    justify-content: center;
    width: auto;
    margin-bottom: 10px;
}

.TxtRedes {
    align-items: center;
    width: auto;
    padding-left: 5px;
    margin-right: 20px;
}

.DerechoAutor{
    font-size: small;
}

.Redes div:hover{
    filter: drop-shadow(0 0px 3px rgba(0, 0, 0, 0.947));
    border-radius: 5px;
}

a{
    display: block;
    text-decoration: none;
    color: #d8d8d8;
    font-family: sans-serif;
    font-size: larger;
}

.contenido > .Subir{
    margin-top: 40px;
    margin-bottom: 40px;
    width: 80px;
    border-radius: 5px;
}

.Subir:hover{
    filter: drop-shadow(0 0px 3px #F4BF96);
    border-radius: 5px;
}

/*Pag1*/

/*Pag2*/

/*Pag3 - Nosotros */

.Nosotros{
    filter: drop-shadow(1px 2px 3px rgba(0, 0, 0, 0.961));
}

.Titulos{
    flex-direction: column;
    padding-top: 30px;
}

h3{
    padding-top: 25px;
    padding-left: 15px;
    padding-bottom: 2px;
}

ul li{
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    line-height: 30px;
    text-align: justify;
}

.SubirN {
    color: #333;
    height: 20px;
    width: 80px;
    text-align: center;
}

.Sombreado{
    justify-content: center;
    background-color: #F2E3DB;
    margin-top: 10px;
    border-radius: 20px;
}

.BarraContenido {
    flex-direction: column;
}

.TituloTabla {
    justify-content: start;
}

.ContenidoTabla {
    padding-top: 10px;
    padding-right: 5px;
    justify-content: end;
}

.ContenidoTabla > a {
    font-size: large;
}

.ContenidoTabla > a:hover {
    filter: drop-shadow(0 0px 3px #823b1d);
}

.Tabla {
    border-radius: 10px;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 30px;
    padding-bottom: 5px;
}
/*Pag4 - Ubicación */

.Sombreado > .Ubicación {
    width: auto;
}
/*Pag5 - Organigrama */

.ImgOrganigrama {
    padding-top: 20px;
    object-fit: cover;
    width:100%;
    height:100%;
    filter: drop-shadow(2px 5px 5px rgba(0, 0, 0, 0.7));
}
/*Pag6* - Directivos*/

.Titulos > .Perfil {
    width: 80px;
    height: 80px;
}

.Perfil {
    margin-top: 5px;
    border: #333;
    border-style: outset;
    border-radius: 5px;
    background-size: cover;
    background-repeat: no-repeat;
}

.Perfil > img{
    width: 80px;
    height: 80px;
}

h4 {
    margin-top: 15px;
}
/*pag7*/
/*  #D14836
    #9C9C9C
    #ffffff
    #039739
*/
